<h2>Fill in information for new celebrity</h2>
<form action="/celebrities" method="POST">
    <label for="name" >Name:</label>
    <input type="text" name="name" id="name">

    <label for="ocupation">Ocupation:</label>
    <input type="text" name="ocupation" id="ocupation">

    <label for="catch-phrase">Catchphrase:</label>
    <input type="text" name="catchPhrase" id="catch-phrase">
    
    <button type="submit">Submit</button>
</form>