<h1>All celebrities in database</h1>
{{#each celebrityList}}
    <a href="/celebrities/{{id}}">
        <h2>{{name}}</h2>
    </a>
{{/each}}

<h4><a href="/celebrities/add">Add new celebrity </a></h4>